services:
  api:
    build: 
      context: .
      dockerfile: ./apps/api/Dockerfile
      args:
        DEBUG: 1
    ports:  
      - "8000:8000"
      - "5678:5678"
    environment:
      PYTHONPATH: /app/api/src
      POSTGRES_URI: postgresql://myuser:mypassword@db:5432/mydatabase
      RABBITMQ_URI: amqp://guest:guest@rabbitmq:5672/
      
    volumes:
      - ./apps/api/src:/app/api/src
      - ./apps/api/scripts:/app/api/scripts
      - ./packages/logger:/packages/logger
      - ./packages/contracts:/packages/contracts
    networks:
      - app-network
    depends_on:
      db:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy

  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: mydatabase
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "myuser", "-d", "mydatabase"]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - app-network

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin4_container
    restart: always
    ports:
      - "8888:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: user@user.com
      PGADMIN_DEFAULT_PASSWORD: password
    volumes:
      - pgadmin-data:/var/lib/pgadmin
      - ./.pgadmin/servers.json:/pgadmin4/servers.json
    depends_on:
      db:
        condition: service_healthy
    networks:
      - app-network

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - grafana-data:/var/lib/grafana
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_LOG_LEVEL=warn
    restart: unless-stopped
    networks:
      - app-network
    depends_on:
      loki:
        condition: service_healthy

  loki:
    image: grafana/loki:latest
    container_name: loki
    restart: unless-stopped
    ports:
      - 3100:3100
    volumes:
      - ./loki-config.yml:/etc/loki/config.yaml
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "http://localhost:3100/ready"]
      interval: 10s
      retries: 5
      start_period: 5s

  promtail:
    image: grafana/promtail:latest
    container_name: promtail
    restart: unless-stopped
    environment:
      - LOG_LEVEL=warn
    volumes:
      - ./promtail-config.yml:/etc/promtail/config.yaml
      - /var/run/docker.sock:/var/run/docker.sock
    command: ["-config.file=/etc/promtail/config.yaml"]
    depends_on:
      - loki
    networks:
      - app-network

  keycloak:
    image: quay.io/keycloak/keycloak:latest
    container_name: keycloak
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_DB: postgres
      KC_DB_URL_HOST: keycloak-db
      KC_DB_URL_DATABASE: keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: keycloak
    ports:
      - "8080:8080"
    depends_on:
      - keycloak-db
    command:
      - start-dev
    networks:
      - app-network

  keycloak-db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: keycloak
      POSTGRES_DB: keycloak
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "myuser", "-d", "mydatabase"]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s
    ports:
      - "5433:5432"
    volumes:
      - pgdata-keycloak:/var/lib/postgresql/data
    networks:
      - app-network

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    restart: unless-stopped
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    healthcheck: 
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq
    networks:
      - app-network

  tickets:
    build:
      context: .
      dockerfile: ./apps/tickets/Dockerfile
    ports:
      - "3001:3000"
    environment:
      NODE_ENV: development
      MONGODB_URI: mongodb://mongodb:27017/tickets
      RABBITMQ_URI: amqp://guest:guest@rabbitmq:5672/
    volumes:
      - ./apps/tickets/src:/app/tickets/src
      - ./apps/tickets/scripts:/app/tickets/scripts
      - ./packages/contracts:/packages/contracts
      - /app/node_modules
    networks:
      - app-network
    depends_on:
      mongodb:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy

  mongodb:
    image: mongo:7
    container_name: mongodb
    restart: unless-stopped
    ports:
      - "27017:27017"
    command: mongod --replSet rs0
    environment:
      MONGO_INITDB_DATABASE: tickets
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      retries: 5
      start_period: 10s
      timeout: 5s
    volumes:
      - mongodb-data:/data/db
    networks:
      - app-network

  mongo-express:
    image: mongo-express:latest
    container_name: mongo-express
    restart: unless-stopped
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_URL: mongodb://mongodb:27017/
      ME_CONFIG_BASICAUTH_USERNAME: admin
      ME_CONFIG_BASICAUTH_PASSWORD: admin
    depends_on:
      mongodb:
        condition: service_healthy
    networks:
      - app-network


networks:
  app-network:
    driver: bridge

volumes:
  pgdata:
  pgadmin-data:
  grafana-data:
  pgdata-keycloak:
  rabbitmq-data:
  mongodb-data:
